<div class="cmd cmd-widget #history#" data-type="info" data-subtype="string" data-template="default" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
  <div class="content-xs">
    <span class="cmdName #hide_name#">#name_display#</span> <strong class="state"></strong>
  </div>
  <template></template>
  <script>
    jeedom.cmd.addUpdateFunction('#id#',function(_options) {
      let cmd = $('.cmd[data-cmd_id=#id#]')
      let v = _options.display_value;
      switch (v.toUpperCase()) {
        case 'VERT':
	      case 'NON':
          v="<i class='fas fa-certificate' style='color: green!important;'></i>";
          break;
        case 'JAUNE':
          v="<i class='fas fa-certificate' style='color: orange!important;'></i>";
          break;
        case 'ROUGE':
        case 'OUI':
          v="<i class='fas fa-certificate' style='color: red!important;'></i>";
          break;
        case 'BLANC':
          v="<i class='fas fa-certificate' style='color: lightgrey!important;'></i>";
          break;          
        case 'BLEU':
    		v="<i class='fas fa-certificate' style='color: blue!important;'></i>";
    		break;            
      }
      cmd.attr('title', '{{Valeur}} : ' + _options.display_value + '<br/>{{Date de valeur}} : '+_options.valueDate+'<br/>{{Date de collecte}} : '+_options.collectDate);
      cmd.find('.state').empty().append(v);
    });
    jeedom.cmd.refreshValue([{cmd_id :'#id#',display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#', alertLevel: '#alertLevel#', unit: '#unite#'}])
  </script>
</div>
